<div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column">
  <button mat-icon-button title="Actualizar Deudas" fxFlex="5" aria-label="Actualizar"
          (click)="actualizarDeudas()" [disabled]="prestamos.length === 0">
    <mat-icon>attach_money</mat-icon>
  </button>
  <button mat-icon-button title="Actualizar Vencimientos" fxFlex="5" aria-label="Buscar"
          (click)="actualizarVencimiento()" [disabled]="prestamos.length === 0">
    <mat-icon>schedule</mat-icon>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" *ngIf="prestamos.length > 0">
  <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
    <mat-label>Folio</mat-label>
    <input matInput (focus)="matricula = ''" placeholder="Folio..." [disabled]="prestamos.length === 0"
           [(ngModel)]="folio"
           (keyup)="buscarPrestamo(false)">
  </mat-form-field>
  o
  <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
    <mat-label>Matricula</mat-label>
    <input matInput (focus)="folio = ''" placeholder="Matriucla..." [disabled]="prestamos.length === 0"
           [(ngModel)]="matricula"
           (keyup)="buscarPrestamo(false)">
  </mat-form-field>
  <mat-form-field class="width-input" appearance="outline" fxFlex="13">
    <mat-label>Filtro por:</mat-label>
    <mat-select placeholder="Vigencia" value="1" [disabled]="prestamos.length === 0" [(ngModel)]="filtro"
                (selectionChange)="buscarPrestamo(true)">
      <mat-option value="0">AUTORIZADOS
        <mat-icon>verified_user</mat-icon>
      </mat-option>
      <mat-option value="1">POR AUTORIZAR
        <mat-icon>done</mat-icon>
      </mat-option>
      <mat-option value="2">FINALIZADOS
        <mat-icon>done_all</mat-icon>
      </mat-option>
      <mat-option value="3">VENCIDOS
        <mat-icon>schedule</mat-icon>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-divider inset></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
  <div>
    <img src="assets/no_data.svg" title="No hay información"/>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="16px grid"
     *ngIf="busqueda.length > 0">
  <br>
  <div
    *ngFor="let prestamo of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
    <mat-card fxFlex="200px">
      <mat-card-title-group>
        <mat-card-title>{{prestamo.titulo}}</mat-card-title>
        <mat-card-subtitle>Folio: {{prestamo.idPrestamo}}</mat-card-subtitle>
        <mat-card-subtitle>Matricula: {{prestamo.matricula}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="!prestamo.autorizado && !prestamo.vencido">Por autorizar</p>
        <p *ngIf="prestamo.autorizado && !prestamo.vencido">El libro se debe devolver antes
          de {{prestamo.fechaLimite}}</p>
        <p *ngIf="!prestamo.autorizado && prestamo.vencido">Solicitud cancelada o no autorizado</p>
        <p *ngIf="prestamo.vencido && prestamo.autorizado">El libro fue entregado</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-icon-button class="btn-full" title="Acuse de autorización"
                *ngIf="prestamo.autorizado && !prestamo.vencido" (click)="autorizacionPDF(prestamo)">
          <mat-icon>get_app</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="Finalizar prestamo"
                *ngIf="prestamo.autorizado && !prestamo.vencido" (click)="finalizarPrestamo(prestamo)">
          <mat-icon>done_all</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="Acuse de finalización de prestamo"
                *ngIf="prestamo.autorizado && prestamo.vencido" (click)="entregaPDF(prestamo)">
          <mat-icon>get_app</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="Autorizar prestamo"
                *ngIf="!prestamo.autorizado && !prestamo.vencido"
                (click)="autorizarPrestamo(prestamo.idPrestamo)">
          <mat-icon>verified_user</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="No autorizar prestamo"
                *ngIf="!prestamo.autorizado && !prestamo.vencido"
                (click)="noAutorizar(prestamo.idPrestamo)">
          <mat-icon>remove_moderator</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog(prestamo)" title="Detalle prestamo">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [showFirstLastButtons]="true"
               (page)="pageEvent = $event"

               aria-label="Página">
</mat-paginator>



