<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todas las editoriales">
    <br/>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" *ngIf="editoriales.length > 0">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Editorial..." [(ngModel)]="buscar" (keyup)="buscarEditorial()">
      </mat-form-field>
      <mat-form-field class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Vigencia:</mat-label>
        <mat-select placeholder="Vigencia" value="true" [(ngModel)]="vigenciaSelect"
                    (selectionChange)="buscarEditorial()">
          <mat-option value="todos">TODOS</mat-option>
          <mat-option value="true">VIGENTES</mat-option>
          <mat-option value="false">NO VIGENTES</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div >
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>
    <div class="contenedor" *ngIf="busqueda.length > 0" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column"
         fxLayoutGap="15px grid">
      <div *ngFor="let editorial of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
        <mat-card fxFlex="220px">
          <mat-card-title-group>
            <mat-card-title>{{editorial.nombreMay}}</mat-card-title>
            <mat-card-subtitle>{{editorial.nombreMin}} </mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <p class="{{editorial.vigente ? 'vigente': 'no-vigente'}}">Este
              editorial {{editorial.vigente ? 'esta VIGENTE' : 'no esta VIGENTE'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"

                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nueva Editorial">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Registrar editorial</h2>
        <form [formGroup]="nuevaEditorialForm" (ngSubmit)="nuevaEditorial()" class="center-fields">
          <mat-form-field dense class="width-input" appearance="outline">
            <mat-label>Editorial</mat-label>
            <input matInput formControlName="nombreMay" (keyup)="onKey($event)">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Editorial minuscula</mat-label>
            <input matInput formControlName="nombreMin" [value]="nombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Vigencia</mat-label>
            <mat-select placeholder="Vigencia" formControlName="vigencia">
              <mat-option *ngFor="let vig of vigencias" [value]="vig.valor">
                {{vig.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button class="mat-button-data"
                  type="submit"
                  [disabled]="!nuevaEditorialForm.valid">
            Registrar Editorial
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Actualizar Editorial">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Modificar editorial</h2>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Editorial" [(ngModel)]="selectedEditorial" (selectionChange)="onChange()">
            <mat-select-filter [placeholder]="'Buscar editorial'" [displayMember]="'nombreMay'"
                               [array]="editoriales" (filteredReturn)="nombresFiltrados =$event">
            </mat-select-filter>
            <mat-option *ngFor="let editorial of nombresFiltrados" [value]="editorial">
              {{editorial.nombreMay}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form [formGroup]="modificaEditorialForm" (ngSubmit)="actualizarEditorial()" class="center-fields">
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>ID Editorial</mat-label>
            <input matInput formControlName="mIdEditorial">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Editorial Mayusculas</mat-label>
            <input matInput formControlName="mNombreMay"
                   onkeyup="this.value = this.value.toUpperCase();">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Editorial Minusculas</mat-label>
            <input matInput formControlName="mNombreMin" [value]="mNombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <button mat-raised-button class="mat-button-data" type="button"
                  [disabled]="!modificaEditorialForm.valid">
            {{selectedEditorial.vigente ? "Desactivar" : "Activar"}}
          </button>
          <br>
          <br>
          <button mat-stroked-button class="mat-button-data"
                  type="submit" [disabled]="!modificaEditorialForm.valid">
            Actualizar Editorial
          </button>
        </form>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>
