<div class="footer" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <h1 fxFlex="50">2021 Universidad Mexiquense del Bicentenario</h1>
  <div fxFlex="50">
    <img src="assets/umb_gray.png" alt="No hay información"/>
  </div>
</div>
