<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <h1 fxFlex="100"><strong>BIENVENIDO {{tipoUsuario}}</strong></h1>
</div>
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  [interval]="5000"
  color="accent"
  maxWidth="auto"
  [proportion]="25"
  [slides]="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
<br>
<div fxLayout="column" fxLayoutAlign="start start" fxLayout.xs="column">
  <h1>Reglas</h1>
  <p>1. Estar registrado en la biblioteca.</p>

    <p>2. Realizar la presolicitud de préstamo directo desde la plataforma.</p>
    <p>3. Entregar la solicitud impresa al encargado de la biblioteca.</p>

    <p>4. El lector deberá presentar cualquier identificación vigente con fotografía ya que el material se presta únicamente
    a la comunidad de Ixtlahuaca.</p>

    <p>5. El préstamo a domicilio será de tres días naturales a partir de la fecha en que se solicitan.</p>

    <p>6. Podrán solicitar hasta 2 libros como máximo de lo contrario no podrá solicitar nuevos títulos hasta haber devuelto
    los anteriores.</p>

    <p>7. No podrá solicitar dos veces el mismo libro al mismo tiempo.</p>

    <p>8. Podrás renovar el préstamo únicamente por una vez dentro del plazo marcado, de lo contrario una vez entregado o
    finalizado el préstamo deberás volver a solicitarlo.</p>

    <p>9. Cuando un libro sea devuelto con posteridad a la fecha de vencimiento del préstamo la biblioteca cobrará una multa
    por libro y por día de retraso, equivalente $17 MXM</p>

    <p>10. A partir de diez días de retraso de la fecha de vencimiento se le cancelará su derecho a préstamo por 1 mes y si
    no se presenta físicamente el libro se declarará perdido o dañado y el lector deberá pagar su valor o reponerlo,
    además de pagar la multa correspondiente</p>

</div>

