<h1 mat-dialog-title>Detalle de libro</h1>
<div mat-dialog-content>
  <mat-card >
    <mat-card-title-group>
      <mat-card-title>{{data.libro.titulo}}</mat-card-title>
      <mat-card-subtitle>Autores: {{data.libro.autores}}</mat-card-subtitle>
      <mat-card-subtitle>Edicion: {{data.libro.edicion}}</mat-card-subtitle>
      <mat-card-subtitle>Editorial: {{data.libro.editorial}}</mat-card-subtitle>
      <mat-card-subtitle>Categorias: {{data.libro.categorias}}</mat-card-subtitle>
      <mat-card-subtitle>ISBN: {{data.libro.isbn}}</mat-card-subtitle>
      <mat-card-subtitle>Paginas: {{data.libro.paginas}}</mat-card-subtitle>
      <mat-card-subtitle class="{{data.libro.disponibles > 0 ? 'disponible' : 'no-disponible'}}">
        Disponibles: {{data.libro.disponibles}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</div>
