<div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column">
  <mat-form-field dense class="width-input" appearance="outline" fxFlex="30">
    <mat-label>Filtro</mat-label>
    <input matInput placeholder="Titulo, ISBN, Autor, Categoria..." [(ngModel)]="libro" (keyup)="buscarLibros()"
           [disabled]="libros.length === 0">
  </mat-form-field>
</div>
<mat-divider inset></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
  <div>
    <img src="assets/no_data.svg" title="No hay información"/>
  </div>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="16px grid"
     *ngIf="busqueda.length > 0">
  <div
    *ngFor="let libro of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
    <mat-card fxFlex="210px">
      <mat-card-title-group>
        <mat-card-title>{{libro.titulo}}</mat-card-title>
        <mat-card-subtitle>Editorial: {{libro.editorial}}</mat-card-subtitle>
        <mat-card-subtitle class="{{libro.disponibles > 0 ? 'vigente' : 'no-vigente'}}">
          Disponibles: {{libro.disponibles}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-icon-button title="Solicitar libro"
                [disabled]="libro.disponibles === 0" mat-button class="btn-full"
                (click)="solicitarPrestamo(libro)">
          <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog(libro)" title="Detalle libro">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [showFirstLastButtons]="true"
               (page)="pageEvent = $event"

               aria-label="Página">
</mat-paginator>
