<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todas las categorias">
    <br>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" *ngIf="categorias.length > 0">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Categoria" [(ngModel)]="buscar" (keyup)="buscarCategoria()">
      </mat-form-field>
      <mat-form-field class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Vigencia:</mat-label>
        <mat-select placeholder="Vigencia" value="true" [(ngModel)]="vigenciaSelect"
                    (selectionChange)="buscarCategoria()">
          <mat-option value="todos">TODOS</mat-option>
          <mat-option value="true">VIGENTES</mat-option>
          <mat-option value="false">NO VIGENTES</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div>
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>

    <div class="contenedor" *ngIf="busqueda.length > 0" fxLayout="row wrap" fxLayoutAlign="center center"
         fxLayout.xs="column"
         fxLayoutGap="15px grid">
      <div
        *ngFor="let categoria of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
        <mat-card fxFlex="220px">
          <mat-card-title-group>
            <mat-card-title>{{categoria.nombreMay}}</mat-card-title>
            <mat-card-subtitle>{{categoria.nombreMin}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <p class="{{categoria.vigente ? 'vigente': 'no-vigente'}}">Esta
              categoria {{categoria.vigente ? 'esta VIGENTE' : 'no esta VIGENTE'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"

                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nueva categoria">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Nueva Categoria</h2>
        <form [formGroup]="nuevaCategoriaForm" (ngSubmit)="nuevaCategoria()" class="center-fields">

          <mat-form-field dense class="width-input" appearance="outline">
            <mat-label>Categoria</mat-label>
            <input matInput formControlName="nombreMay" (keyup)="onKey($event)">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Categoria minuscula</mat-label>
            <input matInput formControlName="nombreMin" [value]="nombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Vigencia</mat-label>
            <mat-select placeholder="Vigencia" formControlName="vigencia">
              <mat-option *ngFor="let vig of vigencias" [value]="vig.valor">
                {{vig.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button class="mat-button-data" type="submit" [disabled]="!nuevaCategoriaForm.valid">
            Registrar categoria
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Actualizar Categorías">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Modificar categoria</h2>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Categorías" [(ngModel)]="selectedCategoria"
                      (selectionChange)="onChange()">
            <mat-select-filter [placeholder]="'Buscar categoria'" [displayMember]="'nombreMay'"
                               [array]="categorias" (filteredReturn)="nombresFiltrados =$event">
            </mat-select-filter>
            <mat-option *ngFor="let categoria of nombresFiltrados" [value]="categoria">
              {{categoria.nombreMay}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form [formGroup]="modificaCategoriaForm" (ngSubmit)="actualizarCategoria()" class="center-fields">
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>ID Categoría</mat-label>
            <input matInput formControlName="mIdCategoria">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Categoría Mayusculas</mat-label>
            <input matInput formControlName="mNombreMay"
                   onkeyup="this.value = this.value.toUpperCase();">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Categoría Minusculas</mat-label>
            <input matInput formControlName="mNombreMin" [value]="mNombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <button mat-raised-button class="mat-button-data" (click)="vigenciaCategoria()"
                  type="button"
                  [disabled]="!modificaCategoriaForm.valid">
            {{selectedCategoria.vigente ? "Desactivar" : "Activar"}}
          </button>
          <br>
          <br>
          <button mat-stroked-button class="mat-button-data"
                  type="submit" [disabled]="!modificaCategoriaForm.valid">
            Actualizar Categoría
          </button>
        </form>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>

