<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Datos del usuario">
    <br>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/user_info.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Datos del usuario</h2>
        <p><strong>Nombre:</strong> {{usuario.nombre}}</p>
        <p><strong>Usuario:</strong> {{usuario.usuario}}</p>
        <p><strong>Correo:</strong> {{usuario.correo}}</p>
        <p><strong>Fecha de alta:</strong> {{usuario.fechaAlta}}</p>
        <p><strong>Tipo de usuario:</strong> {{usuario.tipoUsuario}}</p>
        <p *ngIf="usuario.idTipoUsuario === 1"><strong>Carrera:</strong> {{usuario.carrera}}</p>
        <p *ngIf="usuario.idTipoUsuario === 1"><strong>Semestre:</strong> {{usuario.semestre}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Modificar datos">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update_user.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Actualizar</h2>
        <p>* Solo se permite modificar la contraseña</p>
        <p><strong>Usuario:</strong> {{usuario.usuario}}</p>
        <form [formGroup]="modifica" class="center-fields" (ngSubmit)="actualizarPass()">
          <mat-form-field dense appearance="outline">
            <mat-label>Contraseña Actual</mat-label>
            <input matInput type="password" formControlName="actualPass">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput type="password" formControlName="newPass">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Repite la nueva contraseña</mat-label>
            <input matInput type="password" formControlName="repeatPass">
          </mat-form-field>

          <br>
          <button mat-button type="submit" class="mat-button-data" [disabled]="!modifica.valid">
            Cambiar contraseña
          </button>
        </form>

      </div>
    </div>

  </mat-tab>
</mat-tab-group>


