<h1 mat-dialog-title>Detalle del Usuario</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{data.usuario.nombre}}</mat-card-title>
      <mat-card-subtitle>Matricula: {{data.usuario.matricula}}</mat-card-subtitle>
      <mat-card-subtitle>Tipo Usuario: {{data.usuario.tipoUsuario}}</mat-card-subtitle>
      <mat-card-subtitle>Ciclo Actual: {{data.usuario.cicloActual}}</mat-card-subtitle>
      <mat-card-subtitle>Correo: {{data.usuario.correo}}</mat-card-subtitle>
      <mat-card-subtitle>Carrera: {{data.usuario.carrera}}</mat-card-subtitle>
      <mat-card-subtitle>Semestre: {{data.usuario.semestre}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</div>