<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todos los usuarios">
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="usuarios.length > 0" fxLayout.xs="column">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Escribe algo..." [(ngModel)]="buscar" (keyup)="buscarUsuario()">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div >
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>
    <div class="contenedor" *ngIf="busqueda.length > 0" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column"
         fxLayoutGap="15px grid">
      <div *ngFor="let usuario of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
        <mat-card fxFlex="210px">
          <mat-card-title-group>
            <mat-card-title>{{usuario.nombre}}</mat-card-title>
            <mat-card-subtitle>{{usuario.matricula}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
      
        <button mat-icon-button (click)="openDialog(usuario)" title="Detalle prestamo">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"
                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nuevo Usuario">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add_user.svg" width="100%" />
      </div>
      <div fxFlex="45">
        <h2>Nuevo usuario</h2>
        <form [formGroup]="nuevoUsuario" (ngSubmit)="registrarNuevoUsuario()" class="center-fields">
          <mat-form-field dense appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" formControlName="nombres">
          </mat-form-field>
          <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
            <div *ngIf="nombres.errors?.pattern">
              Solo se aceptan letras.
            </div>
          </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Primer apellido</mat-label>
            <input matInput type="te" formControlName="primerApellido">
          </mat-form-field>
          <div *ngIf="primerApellido.invalid && (primerApellido.dirty || primerApellido.touched)">
            <div *ngIf="primerApellido.errors?.pattern">
              Solo se aceptan letras.
            </div>
          </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Segundo apellido</mat-label>
            <input matInput type="text" formControlName="segundoApellido">
          </mat-form-field>
          <div *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)">
            <div *ngIf="segundoApellido.errors?.pattern">
              Solo se aceptan letras.
            </div>
          </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Matricula</mat-label>
            <input matInput type="text" formControlName="matricula">
          </mat-form-field>
          <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)">

            <div *ngIf="matricula.errors?.required">
              Matricula es requerida
            </div>
            <div *ngIf="matricula.errors?.minlength">
              Matricula no debe ser tan corta
            </div>
            <div *ngIf="matricula.errors?.maxlength">
              Matricula no debe ser tan larga
            </div>
            <div *ngIf="matricula.errors?.pattern">
              Solo se aceptan numeros
            </div>
          </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="mail" formControlName="correo">
          </mat-form-field>
          <br>
          <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">

            <div *ngIf="correo.errors?.pattern">
              El correo no es valido
            </div>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Usuario</mat-label>
            <mat-select formControlName="idTipoUsuario">
              <mat-option value=1>ALUMNO</mat-option>
              <mat-option value=3>ADMINISTRADOR</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Carreras</mat-label>
            <mat-select placeholder="Carreras" formControlName="carrera">
              <mat-option *ngFor="let ca of carreras" [value]="ca.idCarrera">
                {{ca.nombreMay}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>
          <mat-form-field appearance="outline">
            <mat-label>Semestre</mat-label>
            <input matInput type="text" formControlName="semestre">
          </mat-form-field>
          <br>
          <button mat-button type="submit" class="mat-button-data" [disabled]="!nuevoUsuario.valid">
            Registrar Usuario
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>