<h1 mat-dialog-title>Detalle de libro</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{data.libro.titulo}}</mat-card-title>
      <mat-card-subtitle>ISBN: {{data.libro.isbn}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>Autores: {{data.libro.autores}}</p>
      <p>Editorial: {{data.libro.editorial}}</p>
      <p>Categorías: {{data.libro.categorias}}</p>
      <table style="text-align: center; width: 100%">
        <tr>
          <th scope="col">Edición</th>
          <th scope="col">Paginas</th>
          <th scope="col">Existencia</th>
        </tr>
        <tr>
          <td>{{data.libro.edicion}}</td>
          <td>{{data.libro.paginas}}</td>
          <td>{{data.libro.existencia}}</td>
        </tr>
        <tr>
          <th scope="col">Disponibles</th>
          <th scope="col">Apartados</th>
          <th scope="col">Prestados</th>
        </tr>
        <tr>
          <td>{{data.libro.disponibles}}</td>
          <td>{{data.libro.apartados}}</td>
          <td>{{data.libro.prestados}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

