<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todos los libros">
    <br>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" *ngIf="libros.length > 0">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="30">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Titulo, ISBN, Editorial, Categoria..." [(ngModel)]="buscar"
               (keyup)="buscarLibros()">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div>
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>
    <div class="contenedor" *ngIf="busqueda.length > 0" fxLayout="row wrap" fxLayoutAlign="center center"
         fxLayout.xs="column"
         fxLayoutGap="16px grid">

      <div
        *ngFor="let libro of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex)); let indice=index"
        fxFlex="220px">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>{{libro.titulo}}</mat-card-title>
            <mat-card-subtitle>ISBN: {{libro.isbn}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-card-actions align="end">
            <button mat-button (click)="openDialog(libro)">Detalle</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>

    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"

                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nuevo libro">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Registrar libro</h2>
        <form [formGroup]="nuevoLibroForm" (ngSubmit)="nuevoLibro()" class="center-fields">
          <mat-form-field dense appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="titulo">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>ISBN</mat-label>
            <input matInput formControlName="isbn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Paginas</mat-label>
            <input type="number" matInput formControlName="paginas">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Existencia</mat-label>
            <input type="number" matInput formControlName="existencia">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Edición</mat-label>
            <input type="number" matInput formControlName="edicion">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Editorial</mat-label>
            <mat-select formControlName="editorial">
              <mat-option *ngFor="let editorial of editorialesVigentes"
                          [value]="editorial.idEditorial">{{editorial.nombreMay}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Categorias</mat-label>
            <mat-select formControlName="categorias" multiple>
              <mat-option *ngFor="let categoria of categoriasVigentes"
                          [value]="categoria.idCategoria">{{categoria.nombreMay}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Autores</mat-label>
            <mat-select formControlName="autores" multiple>
              <mat-option *ngFor="let autor of autoresVigentes" [value]="autor.idAutor">{{autor.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>disponibles</mat-label>
            <input type="number" matInput formControlName="disponibles" [value]="existencia.value">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Prestados</mat-label>
            <input type="number" matInput formControlName="prestados" [value]="0">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Apartados</mat-label>
            <input type="number" matInput formControlName="apartados" [value]="0">
          </mat-form-field>
          <br>
          <button mat-button class="mat-button-data" type="submit" [disabled]="!nuevoLibroForm.valid">
            Registrar libro
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Actualizar Libro">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Modificar libro</h2>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Libro" [(ngModel)]="selectedLibro"
                      (selectionChange)="onChange()">
            <mat-select-filter [placeholder]="'Buscar libro'" [displayMember]="'titulo'"
                               [array]="libros" (filteredReturn)="nombresFiltrados =$event">
            </mat-select-filter>
            <mat-option *ngFor="let libro of nombresFiltrados" [value]="libro">
              {{libro.titulo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <form [formGroup]="modificaLibroForm" (ngSubmit)="actualizarLibro()" class="center-fields">
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>ID Libro</mat-label>
            <input matInput formControlName="mIdLibro">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="mTitulo">
          </mat-form-field>
          <br/>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Isbn</mat-label>
            <input matInput formControlName="mIsbn">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Paginas</mat-label>
            <input type="number" matInput formControlName="mPaginas">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Existencia</mat-label>
            <input type="number" matInput formControlName="mExistencia">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Edicion</mat-label>
            <input type="number" matInput formControlName="mEdicion">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Editorial</mat-label>
            <mat-select formControlName="mEditorial">
              <mat-option *ngFor="let editorial of editorialesVigentes"
                          [value]="editorial.idEditorial">{{editorial.nombreMay}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Categorias</mat-label>
            <mat-select formControlName="mCategorias" multiple>
              <mat-option *ngFor="let categoria of categoriasVigentes"
                          [value]="categoria.idCategoria">{{categoria.nombreMay}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Autores</mat-label>
            <mat-select formControlName="mAutores" multiple>
              <mat-option *ngFor="let autor of autoresVigentes" [value]="autor.idAutor">{{autor.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Disponibles</mat-label>
            <input matInput formControlName="mDisponibles">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Prestados</mat-label>
            <input matInput formControlName="mPrestados">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Apartados</mat-label>
            <input matInput formControlName="mApartados">
          </mat-form-field>
          <br>
          <button mat-stroked-button class="mat-button-data" type="submit" [disabled]="!modificaLibroForm.valid">
            Actualizar Libro
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
