<h1 mat-dialog-title>Detalle de prestamo</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{data.prestamo.titulo}}</mat-card-title>
      <mat-card-subtitle>Folio: {{data.prestamo.idPrestamo}}</mat-card-subtitle>
      <mat-card-subtitle>ISBN: {{data.prestamo.ISBN}}</mat-card-subtitle>
      <mat-card-subtitle>Alumno: {{data.prestamo.nombre}}</mat-card-subtitle>
      <mat-card-subtitle>Fecha solicitud: {{data.prestamo.fechaApartado}}</mat-card-subtitle>
      <mat-card-subtitle>Fecha prestamo: {{data.prestamo.fechaPrestamo}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="data.prestamo.vencido && data.prestamo.autorizado">
        <strong>Fecha devolución: {{data.prestamo.fechaDevolucion}}</strong>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!data.prestamo.vencido && data.prestamo.autorizado">
        {{data.prestamo.renovaciones === 1 ? 'Fecha entrega' : 'Fecha Renovacion o Entrega'}}
        {{data.prestamo.fechaLimite}}</mat-card-subtitle>
      <mat-card-subtitle>Renovaciones: {{data.prestamo.renovaciones}}</mat-card-subtitle>
      <mat-card-subtitle>Adeudos: {{data.prestamo.cuota}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p *ngIf="!data.prestamo.autorizado && !data.prestamo.vencido">Por autorizar</p>
      <p *ngIf="data.prestamo.autorizado && !data.prestamo.vencido">El libro se debe devolver antes
        de {{data.prestamo.fechaLimite}}</p>
      <p *ngIf="!data.prestamo.autorizado && data.prestamo.vencido">Solicitud cancelada o no autorizado</p>
      <p *ngIf="data.prestamo.vencido && data.prestamo.autorizado">El libro fue entregado</p>
    </mat-card-content>
  </mat-card>
</div>
