<div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column">
  <mat-form-field dense class="width-input" appearance="outline" fxFlex="30">
    <mat-label>Filtro</mat-label>
    <input matInput placeholder="Titulo, Fechas..." [(ngModel)]="prestamo" (keyup)="buscarPrestamos()"
           [disabled]="prestamos.length === 0">
  </mat-form-field>
</div>
<mat-divider inset></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="prestamos.length === 0">
  <div>
    <img src="assets/no_data.svg" title="No hay información"/>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="16px grid"
     *ngIf="prestamos.length > 0">
  <div
    *ngFor="let prestamo of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
    <mat-card fxFlex="210px">
      <mat-card-title-group>
        <mat-card-title>{{prestamo.titulo}}</mat-card-title>
        <mat-card-subtitle>Folio: {{prestamo.idPrestamo}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="prestamo.vencido && !prestamo.autorizado">Se cancelo la solicitud o no fue autorizado</p>
        <p *ngIf="!prestamo.vencido && !prestamo.autorizado">Esperando autorización</p>
        <p *ngIf="prestamo.vencido && prestamo.autorizado">Has entregado este libro</p>
        <p *ngIf="!prestamo.vencido && prestamo.autorizado">
          {{(!prestamo.vencido && prestamo.autorizado && prestamo.renovaciones < 1) ? 'Puedes renovar' : 'Debes entregar el libro antes de ' + prestamo.fechaLimite}}
        </p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-icon-button class="btn-full" title="Descargar Solicitud"
                *ngIf="!prestamo.vencido && !prestamo.autorizado"
                (click)="solicitudPDF(prestamo)">
          <mat-icon>get_app</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="Cancelar solicitud"
                *ngIf="!prestamo.vencido && !prestamo.autorizado"
                (click)="cancelarPrestamo(prestamo.idPrestamo)">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button class="btn-full" title="Renovar"
                *ngIf="!prestamo.vencido && prestamo.autorizado && prestamo.renovaciones < 1"
                (click)="renovarPrestamo(prestamo.idPrestamo, prestamo.titulo)">
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog(prestamo)" title="Detalle prestamo">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [showFirstLastButtons]="true"
               (page)="pageEvent = $event"
               aria-label="Página">
</mat-paginator>
