<mat-sidenav-container>

  <mat-sidenav class="mat-sidenav-fixed" #sidenav mode="push">
    <mat-accordion class="mat-elevation-z0">
      <div *ngFor="let seccion of paginasPermitidas">
        <mat-expansion-panel class="mat-elevation-z0" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: white">
              {{seccion.nombre}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list *ngFor="let pagina of seccion.paginas">
            <a mat-list-item routerLink="{{pagina.ruta}}" (click)="sidenav.toggle()">
              {{pagina.pagina}}
            </a>
          </mat-nav-list>

        </mat-expansion-panel>
      </div>

    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-nav-list>

      <a mat-list-item (click)="sidenav.toggle()">
        Cerrar
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="tool-bar fixed" *ngIf="logueado">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="side-nav-log" src="assets/umb_gray.png"/>
      <span class="spacer"></span>

      <h2>{{tipoUsuario}}</h2>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>{{matricula}}</button>
        <button mat-menu-item>{{nombres}}</button>
        <button mat-menu-item (click)="closeSession(); sidenav.close()">Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
    <mat-toolbar class="tool-bar fixed" *ngIf="!logueado">
      <img class="side-nav-log" src="assets/umb_gray.png"/>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

