<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
  <div fxFlex="45">
    <img src="assets/login.svg" width="100%"/>
  </div>
  <div fxFlex="45">
    <h2>Ingresar</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field dense appearance="outline">
        <mat-label>Matricula</mat-label>
        <input matInput formControlName="matricula">
      </mat-form-field>
      <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)">

        <div *ngIf="matricula.errors?.required">
          Matricula es requerida
        </div>
        <div *ngIf="matricula.errors?.minlength">
          Matricula no debe ser tan corta
        </div>
        <div *ngIf="matricula.errors?.maxlength">
          Matricula no debe ser tan larga
        </div>
        <div *ngIf="matricula.errors?.pattern">
          Solo se aceptan numeros
        </div>
      </div>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">

        <div *ngIf="password.errors?.required">
          Contraseña es requerida
        </div>
      </div>

      <div *ngIf="failLogin">
        <div>
          Usuario no encontrado o no existe
        </div>
      </div>
      <br>
        <button mat-button type="submit" class="mat-button-data" [disabled]="!loginForm.valid">
          Iniciar sesión
        </button>
    </form>
  </div>
</div>

