<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todos los autores">
    <br>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" *ngIf="autores.length > 0">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Nombre, Pais, Fecha..." [(ngModel)]="buscar" (keyup)="buscarAutor()">
      </mat-form-field>
      <mat-form-field class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Vigencia:</mat-label>
        <mat-select placeholder="Vigencia" value="true" [(ngModel)]="vigencia"
                    (selectionChange)="buscarAutor()">
          <mat-option value="todos">TODOS</mat-option>
          <mat-option value="true">VIGENTES</mat-option>
          <mat-option value="false">NO VIGENTES</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div>
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>

    <div class="contenedor" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column"
         fxLayoutGap="15px grid" *ngIf="busqueda.length > 0">
      <div
        *ngFor="let autor of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
        <mat-card fxFlex="200px">
          <mat-card-title-group>
            <mat-card-title>{{autor.nombre}}</mat-card-title>
            <mat-card-subtitle>{{autor.pais}} {{autor.fechaNacimiento}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <p class="{{autor.vigente ? 'vigente': 'no-vigente'}}">Este
              autor {{autor.vigente ? 'esta VIGENTE' : 'no esta VIGENTE'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"

                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nuevo Autor">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Registrar autor</h2>
        <form [formGroup]="nuevoAutorForm" (ngSubmit)="nuevoAutor()" class="center-fields">
          <mat-form-field dense class="width-input" appearance="outline">
            <mat-label>Nombre autor</mat-label>
            <input matInput formControlName="autor">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker" [max]="hoy">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="false"></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Pais</mat-label>
            <input matInput formControlName="pais">
          </mat-form-field>
          <br>
          <button mat-button class="mat-button-data" type="submit"
                  [disabled]="!nuevoAutorForm.valid">
            Registrar autor
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Modificar autor">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Modificar autor</h2>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Autores" [(ngModel)]="selectedAutor"
                      (selectionChange)="onChange()">
            <mat-select-filter [placeholder]="'Buscar autor'" [displayMember]="'nombre'"
                               [array]="autores" (filteredReturn)="nombresFiltrados =$event">
            </mat-select-filter>
            <mat-option *ngFor="let autor of nombresFiltrados" [value]="autor">
              {{autor.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <form [formGroup]="modificaAutorForm" (ngSubmit)="actualizarAutor()" class="center-fields">
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>ID Autor</mat-label>
            <input matInput formControlName="mIdAutor">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre autor</mat-label>
            <input matInput formControlName="mAutor">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput formControlName="mFechaNacimiento" [matDatepicker]="mFechaNacimiento" [max]="hoy">
            <mat-datepicker-toggle matSuffix [for]="mFechaNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #mFechaNacimiento [disabled]="false"></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Pais</mat-label>
            <input matInput formControlName="mPais">
          </mat-form-field>
          <br>
          <button mat-raised-button class="mat-button-data"
                  (click)="vigenciaAutor()" type="button"
                  [disabled]="!modificaAutorForm.valid">
            {{selectedAutor.vigente ? "Desactivar" : "Activar"}}
          </button>
          <br>
          <br>
          <button mat-button class="mat-button-data" type="submit" [disabled]="!modificaAutorForm.valid">
            Actualizar autor
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

