<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Todas las carreras">
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="carreras.length > 0" fxLayout.xs="column">
      <mat-form-field dense class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Escribe algo..." [(ngModel)]="buscar" (keyup)="buscarCarrera()">
      </mat-form-field>
      <mat-form-field class="width-input" appearance="outline" fxFlex="15">
        <mat-label>Vigencia:</mat-label>
        <mat-select placeholder="Vigencia" value="true" [(ngModel)]="vigenciaSelect"
                    (selectionChange)="buscarCarrera()">
          <mat-option value="todos">TODOS</mat-option>
          <mat-option value="true">VIGENTES</mat-option>
          <mat-option value="false">NO VIGENTES</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" *ngIf="busqueda.length === 0">
      <div >
        <img src="assets/no_data.svg" title="No hay información"/>
      </div>
    </div>
    <div class="contenedor" *ngIf="busqueda.length > 0" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column"
         fxLayoutGap="15px grid">
      <div *ngFor="let carrera of busqueda.slice(pageEvent.pageSize * pageEvent.pageIndex, (pageEvent.pageSize +  pageEvent.pageSize * pageEvent.pageIndex))">
        <mat-card fxFlex="210px">
          <mat-card-title-group>
            <mat-card-title>{{carrera.nombreMay}}</mat-card-title>
            <mat-card-subtitle>{{carrera.nombreMin}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <p class="{{carrera.vigente ? 'vigente': 'no-vigente'}}">Esta
              carrera {{carrera.vigente ? 'esta VIGENTE' : 'no esta VIGENTE'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = $event"

                   aria-label="Página">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Nueva carrera">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/add.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Nueva carrera</h2>
        <form [formGroup]="nuevaCarreraForm" (ngSubmit)="nuevaCarrera()"  class="center-fields">
          <mat-form-field dense class="width-input" appearance="outline">
            <mat-label>Carrera</mat-label>
            <input matInput formControlName="nombreMay" (keyup)="onKey($event)">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Carrera minuscula</mat-label>
            <input matInput formControlName="nombreMin" [value]="nombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Vigencia</mat-label>
            <mat-select placeholder="Vigencia" formControlName="vigencia">
              <mat-option *ngFor="let vig of vigencias" [value]="vig.valor">
                {{vig.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button class="mat-button-data" type="submit"
                  [disabled]="!nuevaCarreraForm.valid">
            Registrar carrera
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Actualizar Carreras">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
      <div fxFlex="45">
        <img src="assets/update.svg" width="100%"/>
      </div>
      <div fxFlex="45">
        <h2>Modificar carrera</h2>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Carrera" [(ngModel)]="selectedCarrera"
                      (selectionChange)="onChange()">
            <mat-select-filter [placeholder]="'Buscar carrera'" [displayMember]="'nombreMay'"
                               [array]="carreras" (filteredReturn)="nombresFiltrados =$event">
            </mat-select-filter>
            <mat-option *ngFor="let carrera of nombresFiltrados" [value]="carrera">
              {{carrera.nombreMay}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <form [formGroup]="modificaCarreraForm" (ngSubmit)="actualizarCarrera()" class="center-fields">
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>ID Carrera</mat-label>
            <input matInput formControlName="mIdCarrera">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Carrera Mayusculas</mat-label>
            <input matInput formControlName="mNombreMay"
                   onkeyup="this.value = this.value.toUpperCase();">
          </mat-form-field>
          <br>
          <mat-form-field class="width-input" appearance="outline">
            <mat-label>Nombre Carrera Minusculas</mat-label>
            <input matInput formControlName="mNombreMin" [value]="mNombreMay.value.toLowerCase()">
          </mat-form-field>
          <br>
          <button mat-raised-button class="mat-button-data" (click)="vigenciaCarrera()"  type="button" [disabled]="!modificaCarreraForm.valid">
            {{selectedCarrera.vigente ? "Desactivar" : "Activar"}}
          </button>
          <br>
          <br>
          <button mat-stroked-button class="mat-button-data" type="submit" [disabled]="!modificaCarreraForm.valid">
            Actualizar Carrera
          </button>
        </form>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
