/* You can add global styles to this file, and also import other style files */
$main-color: #2f5d62;
$second-color: #5e8b7e;
$white-color: #FFF;
$font-footer-color:#b6b6b6;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 10px;
  background-color: $white-color;
  .content {
    width: 80%;
    margin-left: 10%;
    color: $second-color;
    font-weight: bold;
    background-color: $white-color;
    .center-fields {
      text-align: center;
      mat-form-field {
        width: 100%;
      }
    }
    .mat-button-data{
      background-color: $main-color;
      color: $white-color;
      width: 100%;
    }
    .contenedor{
      margin: 0 !important;
    }
    mat-icon{
      color: $main-color;
    }
  }
}


.tool-bar {
  background-color: $main-color;
  color: $white-color;
  height: 100px;
  top: 0; /* Sets the sticky toolbar to be on top */
  .side-nav-log {
    height: 100px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.mat-sidenav-container {
  color: $white-color;
  .mat-sidenav {
    width: 250px;
    padding: 15px;
    height: auto;
    background-color: $main-color;
    .mat-accordion{
      .mat-expansion-panel{
        background-color: $main-color;
      }
    }
    p{
      font-size: small;
    }
    a {
      color: $white-color;
      font-size: small;
    }

  }
}

.footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #2f5d62;
  height: 350px;
  h1 {
    color: $font-footer-color;
    font-size: medium;
  }
}

.btn-full {
  width: 100%;
}

.vigente {
  font-size: small;
  color: #00b433;
}
.no-vigente {
  font-size: small;
  color: #b41500;
}


