<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav #sidenav>
  <mat-nav-list *ngFor="let pagina of paginasPermitidas">
    <button mat-button mat-line (click)='go(pagina.ruta)'>
      {{pagina.pagina}}
    </button>
    <!--a (click)="sidenav.toggle()" href="" mat-list-item>Close</a -->
  </mat-nav-list>
</mat-sidenav>


