html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.container-menu {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #2f5d62;
  overflow-y: auto;
  box-shadow: 0 0 10px black;
  scrollbar-width: thin;
  scrollbar-color: #2f5d62;
  scrollbar-track-color: #2f5d62;
  z-index: 10;
  .logo {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: 30%;
    text-align: center;
    color: white;
    font-weight:bold;
  }
  .menu {
    width: 100%;
    .contain {
      .mat-list-base .mat-list-item {
        color: white;
        .mat-button {
          padding: 0 16px;
          text-align: left;
          width: 100%;

        }
      }

      left: 50px;
      .white-icon {
        color: white;
      }
    }
  }
  .button {
    width: 100%;
    color: white;
    text-decoration: solid;
  }
}
.container-menu::-webkit-scrollbar {
  background-color: #2f5d62;
  width: 16px;
}
.container-menu::-webkit-scrollbar-track {
  background-color: #2f5d62;
}
.container-menu::-webkit-scrollbar-thumb {
  background-color: #2f5d62;
  border-radius: 16px;
  border: 4px solid #2f5d62;
}
.container-menu::-webkit-scrollbar-button {
  display: none;
}
.container-menu:hover::-webkit-scrollbar-thumb {
  background-color: #5e8b7e;
}
.container-header {
  margin-left: 20%;
  .mat-toolbar {
    background-color: #5e8b7e;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color-row {
    background-color: #dfeeea;
    height: auto;
  }

  .icon-tool {
    font-size: 40px;

  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .sub-menu {
    padding: 10px;
    font-size: medium;
    text-align: center;
    color: #2f5d62;
    margin: auto;
  }
}
